{
  "root": true,
  "extends": [
    "plugin:vue/essential"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "plugins": [
    "@babel"
  ]
}